/* Media query for screens under 800px */

@media screen and (max-width: 769px) {
  /* navbar */
  .logos img {
    padding-left: 20px;
    transition: padding-left 0.3s ease;
    -webkit-transition: padding-left 0.3s ease;
    -moz-transition: padding-left 0.3s ease;
    -ms-transition: padding-left 0.3s ease;
    -o-transition: padding-left 0.3s ease;
  }
  .navbar a {
    padding-right: 20px;
    transition: padding-right 0.3s ease;
    -webkit-transition: padding-right 0.3s ease;
    -moz-transition: padding-right 0.3s ease;
    -ms-transition: padding-right 0.3s ease;
    -o-transition: padding-right 0.3s ease;
  }
  /* hero section */
  #hero-image {
    margin-top: -10px; /* Move the hero image down by 50px */
  }

  /* ======About Section====== */
  .about-section {
    flex-direction: column; /* Change to a column layout */
    text-align: center; /* Center the items vertically */
  }

  .left,
  .right {
    flex: none; /* Prevent items from growing */
    width: 100%; /* Make them take the full width of the container */
    padding: 10px; /* Adjust spacing */
  }
  .left h1 {
    font-size: 64px;
    margin-bottom: 40px;
  }
  .left p {
    font-size: 18px;
  }
  .inline-text span {
    font-size: 24px;
  }

  /* =========Image Section========= */
  .image-resize1 {
    padding-right: 40px;
    padding-top: 40px;
    width: 100px;
  }
  .image-resize2 {
    padding-right: 60px;
    padding-bottom: 60px;
    width: 300px;
  }
  .image-resize3 {
    padding-right: 30px;
    width: 650px;
  }
  .image-resize4 {
    padding-right: 50px;
    padding-bottom: 40px;
    max-width: 400px;
  }

  /* ========Product Section======= */
  .container-product {
    background: url("assets/bg2.jpg");
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    height: 100%;
    width: auto;
    display: flex;
    background-color: #f0f0f0;
  }

  .row {
    display: flex;
  }

  .col-md-6 {
    flex: 1;
    padding: 10px;
  }

  .left-pane,
  .right-pane {
    flex: 1;
    padding: 20px;
  }

  .content-upper-left-pane,
  .content-lower-left-pane {
    flex: 1 solid #333;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .content-upper-left-pane h2 {
    position: absolute;
    font-size: 34px;
    margin-left: 300px;
  }

  .content-upper-left-pane p {
    margin: 150px 200px 0 300px;
    position: absolute;
  }

  .image .bgProduct {
    position: relative;
    width: 100%;
    max-width: 260px;
    left: 20px;
  }
  .image .product {
    position: relative;
    width: 100%;
    max-width: 180px;
    right: 200px;
  }

  .left-pane {
    flex: 3;
    width: 200px;
  }

  /* lower left page */
  .items-under-bgProduc ul {
    font-size: 20px;
    font-weight: 300;
    margin-left: -60px;
    list-style-type: none; /* Remove the default list bullet */
    padding-top: 20px; /* Remove default padding */
    display: flex; /* Display the list items in a single line */
    overflow-x: auto; /* Add horizontal scroll if needed */
    white-space: nowrap; /* Prevent line breaks */
    overflow: hidden;
  }
  .content-lower-left-pane .items-under-bgProduc ul li {
    position: relative;
    display: flex;
    align-items: center;
  }

  /* if want to set margin */
  .content-lower-left-pane {
    margin: 40px 0px 0px 0px;
  }

  .items-under-bgProduc li {
    margin-top: 100px;
    position: relative; /* Make the li element a positioning context */
    margin-right: 10px; /* Add some spacing between the inline items (adjust as needed) */
    margin-bottom: 20px; /* Move the li elements 20px up from the bottom of the text */
  }

  .items-under-bgProduc li::before {
    content: ""; /* Empty content */
    display: inline-block; /* Display the pseudo-element as inline-block */
    width: 50px; /* Adjust the width of the pseudo-element (spacing between image and text) */
    height: 50px; /* Adjust the height of the pseudo-element (spacing between image and text) */
    background-size: cover; /* Ensure the background image covers the pseudo-element */
    background-repeat: no-repeat; /* Prevent background image repetition */
    background-position: center; /* Center the background image */
    margin-right: 5px; /* Add some spacing between the image and the text (adjust as needed) */
  }

  .items-under-bgProduc li[data-image="item1.jpg"]::before {
    background-image: url("assets/sugar.png"); /* Set the background image for Item 1 */
    position: relative;
  }

  .items-under-bgProduc li[data-image="item2.jpg"]::before {
    background-image: url("assets/coffeIngredient.png"); /* Set the background image for Item 2 */
    position: relative;
  }

  .items-under-bgProduc li[data-image="item3.jpg"]::before {
    background-image: url("assets/badge.png"); /* Set the background image for Item 3 */
    position: relative;
  }

  .right-pane {
    flex-direction: column;
    display: flex;
    align-items: flex-end;
    flex: 1;
    height: 550px;
  }

  .right-pane .rSide {
    position: relative;
    align-self: flex-end;
    top: 120px;
    right: 0px;
    max-width: 100%;
    width: 100px;
  }

  .right-pane .product-list {
    flex-direction: column;
    position: relative;
    top: -200px;
    right: 5px;
    max-width: 100%;
    width: 80px;
  }

  /* ====== best drinks===== */

  .slider-container {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url("assets/sliceBg.jpg");
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    height: 100%;
    width: auto;
    padding: 0px 80px 0px 80px;
    gap: 2em;
    overflow: hidden;
    position: relative;
    display: flex;
  }

  .slide {
    background-color: none;
    border-radius: 25px;
    height: auto;
    float: left;
    width: 100%;
    transition: transform 0.3s ease-in-out;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
  }

  .slide:hover {
    transform: scale(1.05); /* Increase scale on hover */
    background: url("assets/bg1.jpg") center;
    border: 5px solid #fff;
  }

  .slide img {
    width: 100%;
    height: auto;
  }

  .description {
    background: none;
    padding: 20px;
    text-align: center;
    border-radius: 25px;
  }

  .description h2 {
    margin-top: 0;
  }

  .description img {
    width: 100px;
  }

  #price {
    font-weight: bold;
  }
  

  @media screen and (max-width: 800px) {
    .slider-container {
      flex-direction: column;
      align-items: center;
    }
  }
}
